:root{
    // --accent-fotn: 'Montserrat', impact, sans-serif;
    --main-font: 'Montserrat', verdana, sans-serif;

    --btn-default-color:#f8d24e;
    --btn-hover-focus-color:#0a8817;
    --btn-disabled-color:#ababab;
    
}

